<div class="st-pusher" id="content">
<div class="st-content-inner">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="..." class="col-sm-3 control-label">When are you riding?</label>
                        <div class="col-sm-9">
                            <select name="select" class="selectpicker" data-style="btn-white" data-live-search="true" data-size="5">
                                <option>Today</option>
                                <option>Tomorrow</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="area" class="col-sm-3 control-label">Where are you riding?</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="e.g. Pleney">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="time" class="col-sm-3 control-label">Meet time</label>
                        <div class="col-sm-9">
                            <select name="select" class="selectpicker" data-style="btn-white" data-live-search="true" data-size="5">
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                            </select>
                            <select name="select" class="selectpicker" data-style="btn-white" data-live-search="true" data-size="5">
                                <option>00</option>
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="space" class="col-sm-3 control-label">Max group size</label>
                        <div class="col-sm-9">
                            <select name="select" class="selectpicker" data-style="btn-white" data-live-search="true" data-size="8">
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                                <option>Five</option>
                                <option>Six</option>
                                <option>Seven</option>
                                <option>Eight</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="level" class="col-sm-3 control-label">Level</label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Beginner (Greens and Blues)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Intermediate (Reds)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Advanced (Blacks)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Nuts (Anywhere with snow)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plan" class="col-sm-3 control-label">Plan</label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Piste
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Park
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Off-piste
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> All-mountain
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
                                        
    <!-- /st-pusher -->
</div>

<!-- /st-container -->
    